<div id="about">
	@(Html.Action("Adsense", new { controller = "assets", area = "" }))
	<div class="panel panel-success pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-question-circle mrm"></i>About</h1></div>
		<div class="panel-body">
			<p>
				Razzle is a combination of a starter website and documentation tool. It will allow you to bring a documentation website up quickly for your .net projects.
				It uses a mixture of Reflection and XML documentation to generate robust information that can be useful to consumers of your library.
			</p>
		</div>
	</div>
</div>

